<!doctype html>
<html lang="fr">
  <head>
    <%- include('partials/header') %>
    </header>

    <main class="homepage"></main>

    <footer>
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>
