<%- include('partials/header') %>


    <!-- Corps de la page -->
    <main class="quiz-page">
      <h1 class="quiz__title">Titre du quiz</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque
        eaque quidem hic ex molestiae repellendus vitae aperiam, tempore
        commodi.
      </p>
      <p>Par <span>Prénom NOM</span>, le 02 décembre</p>

      <form action="">
        <!-- Question -->
        <fieldset>
          <legend>Question</legend>
          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question1"
              id="answer1" />
            <label for="answer1">Réponse 1</label>
          </div>
          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question1"
              id="answer2" />
            <label for="answer2">Réponse 2</label>
          </div>

          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question1"
              id="answer3" />
            <label for="answer3">Réponse 3</label>
          </div>

          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question1"
              id="answer4" />
            <label for="answer4">Réponse 4</label>
          </div>

          <p class="quiz-anecdote">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            tempora porro quos tenetur illo voluptatibus quibusdam laboriosam
            ratione optio provident.
          </p>
        </fieldset>
        <!-- Question -->
        <fieldset>
          <legend>Question</legend>
          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question2"
              id="answer1" />
            <label for="answer1">Réponse 1</label>
          </div>
          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question2"
              id="answer2" />
            <label for="answer2">Réponse 2</label>
          </div>

          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question2"
              id="answer3" />
            <label for="answer3">Réponse 3</label>
          </div>

          <!-- Réponse -->
          <div>
            <input
              type="radio"
              name="question2"
              id="answer4" />
            <label for="answer4">Réponse 4</label>
          </div>

          <p class="quiz-anecdote">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            tempora porro quos tenetur illo voluptatibus quibusdam laboriosam
            ratione optio provident.
          </p>
        </fieldset>

        <button type="submit">Soumettre le formulaire</button>
      </form>
    </main>

    <%- include('partials/footer') %>
